@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
    margin: 0;
    padding: 0;
}
h2{
    font-size: 5em;
    font-family: 'Lobster', cursive;
    color: red;
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
    text-shadow: 2px 5px 3px #0D108F;
}
#box{
    width: 300px;
    height: 150px;
    font-size: 3em;
    font-family: 'Lobster', cursive;
    color: #000;
    text-align: center;
    background-color:#5E5E69 ;
    margin:50px auto; 
    box-shadow: 2px 3px 4px 5px #1E1E21;   
}
.button{
    display: block;
    text-decoration: none;
    margin-left: 705px;
}
.content{
    background-color:#ddd;
    padding: 10px 30px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display:inline-block;
 
}
.content:hover{
    background:none;
    color: #fff;
}
.content:before{
    content:"";
    position:absolute;
    width: 50%;
    height: 100%;
    background-color:green;
    top:0px;
    left: -50%;
    transition: all 0.3s ease;
    z-index: -1;
}
.button:hover .content:before{
    left: 0px;
}
.content:after{
    content:"";
    position:absolute;
    width: 50%;
    height: 100%;
    background-color:red;
    top:0px;
    right: -50%;
    transition: all 0.3s ease;
    z-index: -1;
}
.button:hover .content:after{
    right: 0px;
}













